img {
  border-radius: 15px;
  display:grid;
  border: 2px solid #39813a;
  aspect-ratio: 3/4;
  /* flex-direction :column; */
  width:30%;
  min-height: 35vh;
  min-width: 35vh;
}

/* main {
  background-color: #39813a;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75%;
  width: 70%;
  max-width: 4.5%;
  margin: 10%;
}

@media (max-width: 400px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35%;
    width: 50%;
    max-width: 4.5%;
    margin: 7%;
  }
}






