* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* A vw é 1/100 da largura da janela e vh é 1/100 da altura da janela. */

.game-board {
    width: 100%;
    /* height: 500px; */
    min-height: 82vh;
    border-bottom: 2em solid hsla(103, 94%, 54%, 0.726);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(hsl(184, 78%, 79%),hsl(0, 0%, 100%));
}

/* .button-hidden { */
    /* color: transparent; Torna o conteúdo do botão invisível */
    /* background-color: transparent; Torna o fundo do botão invisível */
    /* border: none; Remove a borda do botão */
    /* visibility: hidden; Torna o botão invisível, mas ainda ocupa espaço */
 /* }  */

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;
    
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 500ms ease-out;
}



@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    
    40% {
        bottom: 180px;
    }
    
    50% {
        bottom: 180px;
    }
    
    60% {
        bottom: 180px;
    }
    
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}

.button-voltar , 
.button-restart,
.button-jump{
    
    background-color: hsla(103, 94%, 54%, 0.726);
    border-radius: 8px;
    color: #050505;
    font-size: 1em;
    max-width: 30%;
    margin-top: .7rem;
    padding: 1%;
    margin-left: 2%;
    width: 100%;
    cursor: pointer;
}

.button-voltar:hover {
    background: linear-gradient(hsl(0, 100%, 50%),hsl(0, 77%, 22%));
}

.button-restart:hover {
    background: linear-gradient(hsl(71, 100%, 52%),hsl(0, 0%, 0%));
}

.button-jump:hover {
    background: linear-gradient(hsl(113, 100%, 50%),hsl(115, 100%, 16%));
}
