body {
  font-family: "Lato", sans-serif;
}

.button-voltar {

    background-color: #ee665c;
    border-radius: 8px;
    color: #fff;
    font-size: 1em;
    max-width: 150px;
    margin-left: 300px;
    margin-top: 28px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}


.flex-container {
   
    flex-wrap: nowrap;
    /* background-color: #eefeff; */
  }
  
  .flex-container > div {
    width: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
.button-A, .button-B,
.button-C, .button-D,
.button-E, .button-F,
.button-G, .button-H,
.button-I, .button-J,
.button-K, .button-L,
.button-M, .button-N,
.button-O, .button-P,
.button-Q, .button-R,
.button-S, .button-T,
.button-U,.button-V,
.button-W, .button-X,
.button-Y, .button-Z
 {
      background-color: #b30101; 
      color: white;
      padding: 18px;
      text-align: center;
      display: flex;
      font-size: 1.75rem;
      cursor: pointer;
  }

  h1 {
    color: blue;
    text-align: center;
    font-style: italic;
  }


.button-A:hover, .button-B:hover,
.button-C:hover, .button-D:hover,
.button-E:hover, .button-F:hover,
.button-G:hover, .button-H:hover,
.button-I:hover, .button-J:hover,
.button-K:hover, .button-L:hover,
.button-M:hover, .button-N:hover,
.button-O:hover, .button-P:hover,
.button-Q:hover, .button-R:hover,
.button-S:hover, .button-T:hover,
.button-U:hover, .button-V:hover,
.button-W:hover, .button-X:hover,
.button-Y:hover, .button-Z:hover
{
  background: linear-gradient(#4a5206e5, #97a018, #e7f70a);
  border-radius: 55px;
}

